@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
@import "variables";

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
}

$weights: 300,
600,
800;

@each $weight in $weights {
    .fw-#{$weight} {
        font-weight: $weight;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.clickable {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.clickable:focus,
.clickable:hover {
    opacity: 0.7;
}