:root {
    --font-family: "Nunito Sans", sans-serif;
    --text-color: hsl(200, 15%, 8%);
    --background-color: hsl(0, 0%, 98%);
    --input-color: hsl(0, 0%, 52%);
    --elements-color: hsl(0, 0%, 100%);
}

[mode="dark"] {
    --text-color: hsl(0, 0%, 100%);
    --background-color: hsl(207, 26%, 17%);
    --elements-color: hsl(209, 23%, 22%);
}